@page
@model WebApp.Pages.Questions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question!.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question!.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question!.Quiz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question!.Quiz!.Id)
        </dd>
    </dl>
    @if (Model.Question!.Answers!.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question!.Answers!.First().AnswerText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question!.Answers!.First().IsCorrect)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Question!.Answers!) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCorrect)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    
    <form method="post">
        <input type="hidden" asp-for="Question!.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Quizzes/Edit" asp-route-id="@Model.Question!.QuizId">Back to List</a>
    </form>
</div>
