@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Quizes</h1>
    <h4>by rakram</h4>
</div>

<form method="get" class="row">
    <h4>Search for a quiz</h4>
    <div class="mb-3 col-4">
        <label for="headlineSearch" class="form-label">Quiz headline</label>
        <input type="text" class="form-control" id="headlineSearch" name="headlineSearch" placeholder="poll"
               value="@Model.HeadlineSearch">
    </div>
    <div class="mb-3 col-4">
        <label for="authorSearch" class="form-label">Author</label>
        <input type="text" class="form-control" id="authorSearch" name="authorSearch" placeholder="Martin"
               value="@Model.AuthorSearch">
    </div>
    <div class="col-4 position-relative">
        <div class="form-group position-absolute bottom-0 start-0">
            <input type="submit" value="Search" name="action" class="btn btn-primary"/>
            @if (Model.AuthorSearch != null || Model.HeadlineSearch != null)
            {
                <input type="submit" value="Clear" name="action" class="btn btn-outline-warning"/>
            }
        </div>
    </div>
</form>

<p>
    <a class="btn btn-outline-info" asp-page="/Quizzes/Create" >Create New Quiz</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quiz![0].Headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quiz![0].Author)
        </th>
        <th>
            Questions
        </th>
        <th>Answer count</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Quiz!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @if (item.Questions!.Count > 0)
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => item.Questions!.First().QuestionText)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var question in item.Questions!)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => question.QuestionText)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div>No questions yet!</div>
                }
            </td>
            <td>@(item.AnsweredQuizzes != null ? item.AnsweredQuizzes!.Count : 0)</td>
            <td>
                @if (item.Questions!.Count > 0)
                {
                    <a class="btn btn-outline-info" asp-page="/AnsweredQuizzes/Create" asp-route-id="@item.Id">Answer quiz!</a>
                }
                @if (Model.AnsweredQuiz!.Any(i => i.QuizId == item.Id))
                {
                    <a class="btn btn-outline-info" asp-page="/AnsweredQuizzes/QuizStatistics" asp-route-id="@item.Id">Quiz statistics</a>
                }
                <a class="text-warning" asp-page="/Quizzes/Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-primary" asp-page="/Quizzes/Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-danger" asp-page="/Quizzes/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<br/>
<br/>
<h4>History of quizes answered</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnsweredQuiz![0].AnsweredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnsweredQuiz![0].Quiz!.Headline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnsweredQuiz!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnsweredBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz!.Headline)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-page="/AnsweredQuizzes/QuizResult" asp-route-answeredQuizId="@item.Id">View result</a>
            </td>
        </tr>
}
    </tbody>
</table>
